# roles/cilium_prep/tasks/main.yml
---
- name: Cilium 필수 커널 모듈 로드
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter

- name: Cilium을 위한 커널 파라미터 파일 생성
  copy:
    dest: /etc/sysctl.d/99-k3s-cilium.conf
    content: |
      # eBPF 관련 설정
      net.core.bpf_jit_enable=1
      
      # IP Forwarding (필수)
      net.ipv4.ip_forward=1
      net.ipv6.conf.all.forwarding=1
      
      # Reverse Path Filtering 해제 (Cilium 필수)
      net.ipv4.conf.lall.rp_filter=0
      net.ipv4.conf.default.rp_filter=0


# 핸들러는 tasks와 같은 레벨이 아닌 별도 폴더(handlers/main.yml)에 두는 게 정석이지만,
# 간단하게 여기에 포함하거나 sysctl 명령을 직접 실행합니다.
- name: 커널 파라미터 즉시 적용
  command: sysctl --system