# site.yml
---
- name: Setup HomeLab Kubernetes Node
  hosts: k3s_nodes
  become: true
  vars:
    k3s_version: "v1.29.3+k3s1"
    netbird_setup_key: "{{ setup_key | default('') }}"
  roles:
    - common
    - netbird
    - cilium_prep
    - k3s